.homeContainer{
    display:flex;
    justify-content:center;
    flex-direction:column;
    height:calc(100vh + 20px);
    width:100vw;
    background-size:cover;
    margin-top:-82px;
    background-position:center;
    transition:all 0.5s ease-in-out;
    background-image:url('../../media/images/homepage.jpeg');
}

.homeHeadingContainer{
    margin-left: 3vw;
    margin-top: 45vh;
}


@media (0px <= width <= 600px) {
    .homeHeadingContainer{
        margin-top: 0px;
    }
}